<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body data-table-wrapper">
        Search users list
      </div>
    </div>
  </div>
</div>

<% content_for :header do %>
Search Users <small>users match your search criterias</small>
<% end %>
