<section class="sidebar">
  <!-- search form -->
  <form action="<%= search_path %>" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search users..."/>
      <span class="input-group-btn">
        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu -->
  <ul class="sidebar-menu">
    <li class="active">
      <%= link_to root_path do %>
        <i class="fa fa-clock-o"></i> <span>Active Users</span>
      <% end %>
    </li>
    <li>
      <%= link_to all_path do %>
        <i class="fa fa-users"></i> <span>User List</span>
        <small class="badge pull-right bg-green">56</small>
      <% end %>
    </li>
  </ul>
</section><!-- /.sidebar -->
