.data-table-info {
  margin: 10px 0;
}

.data-table-wrapper .pagination {
  float: right;
  margin: 10px 0 20px;
}

.skin-blue .sidebar > .sidebar-menu > li {
  > a:hover, &.active > a {background: #ffffff;}
}

.navbar-nav > .user-menu > .dropdown-menu {
  width: auto;
  li.user-header {height: auto;}
}

table.show-table tr td.view-label {
  width: 180px;
  padding-left: 15px;
  color: #8a949e;
}

.user-action a {
  margin-right: 5px;
}
